@page
@model ProjectSAP.Pages.CompanyA_SimulationModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/CompanyA.css">
   
</head>
<body>

   <p>You enter the simulation like the customer.</p>
        
        @if(Model.ValidPO == false)
        {

            @foreach (var item in Model.ItemNamesA)
            {
                <div class="item-box" id="box-@item.ItemCode">
                    <button onclick="selectItem('@item.ItemCode')">@item.ItemName</button>
                    <p>Price: @item.Price</p>

                    <div class="order" id="controls-@item.ItemCode" style="display:none">
                        <label for="quantity">Quantity:</label>
                        <input type="number" id="qty-@item.ItemCode" name="quantity" min="1" max="100" value="1">
                        <button onclick="orderItem('@item.ItemCode')">Add to Cart</button>
                    </div>
                </div>

            }
            <button onclick="submitOrder()" id="PO-button">Create Purchase Order</button>
        }
           
            @* <script>
                document.addEventListener("DOMContentLoaded", function () {
                    // Ascunde toate item-box-urile
                    let boxes = document.getElementsByClassName('item-box');
                    for (let i = 0; i < boxes.length; i++) {
                        boxes[i].style.display = 'none';
                    }

                    // Ascunde butonul de creare PO
                    let poButton = document.getElementById('PO-button');
                    if (poButton) {
                        poButton.style.display = 'none';
                    }
                });
            </script> *@

          

        
        @if(Model.PurchaseOrder != null)
        {
            <div class="purchase-order-panel">
                <h2>Purchase Order</h2>
                <div>
                    <p><strong>Document Number:</strong> @Model.PurchaseOrder.DocNum</p>
                    <p><strong>Customer Code:</strong> @Model.PurchaseOrder.CardCode</p>
                    <p><strong>Customer Name:</strong> @Model.PurchaseOrder.CardName</p>
                    <p><strong>Document Date:</strong> @Model.PurchaseOrder.DocDate</p>
                    <p><strong>Due Date:</strong> @Model.PurchaseOrder.DocDueDate</p>
                </div>
                <h3>Items</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Item Code</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PurchaseOrder.Items)
                        {
                            <tr>
                                <td>@item.ItemCode</td>
                                <td>@item.ItemName</td>
                                <td>@item.Quantity</td>
                                <td>@item.Price</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <button onclick="CreateSO()">Next step => Sales Order</button>
        }
    <div id="loading-overlay" style=" display:none;">
        <div id="loading-spinner">
            <div class="spinner"></div>
            <p id="loading-message">Sending the order...</p>
        </div>
    </div>
       
    @if(Model.SalesOrder != null)
    {
        <div class="sales-order-panel">
            <h2>Sales Order</h2>
            <div>
                <p><strong>Document Number:</strong> @Model.SalesOrder.DocNum</p>
                <p><strong>Customer Code:</strong> @Model.SalesOrder.CardCode</p>
                <p><strong>Customer Name:</strong> @Model.SalesOrder.CardName</p>
                <p><strong>Status:</strong> @Model.SalesOrder.DocStatus</p>
                <p><strong>Document Date:</strong> @Model.SalesOrder.DocDate</p>
                <p><strong>Due Date:</strong> @Model.SalesOrder.DocDueDate</p>
            </div>
            <h3>Items</h3>
            <table>
                <thead>
                    <tr>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SalesOrder.Items)
                    {
                        <tr>
                            <td>@item.ItemCode</td>
                            <td>@item.ItemName</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>@(item.Quantity * item.Price)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                
                <p><strong>Total Amount:</strong> @Model.SalesOrder.DocTotal</p>
            </div>
        </div>
        <button onclick="CreateDelivery()" id="button-dl">Next Step => Create Delivery </button>
    }

    @if(Model.Delivery != null)
    {
        <div class="sales-order-panel">
            <h2>Delivery</h2>
            <div>
                <p><strong>Document Number:</strong> @Model.Delivery.DocNum</p>
                <p><strong>Customer Code:</strong> @Model.Delivery.CardCode</p>
                <p><strong>Customer Name:</strong> @Model.Delivery.CardName</p>
                <p><strong>Status:</strong> @Model.Delivery.DocStatus</p>
                <p><strong>Document Date:</strong> @Model.Delivery.DocDate</p>
                <p><strong>Due Date:</strong> @Model.Delivery.DocDueDate</p>
            </div>
            <h3>Items</h3>
            <table>
                <thead>
                    <tr>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Delivery.Items)
                    {
                        <tr>
                            <td>@item.ItemCode</td>
                            <td>@item.ItemName</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>@(item.Quantity * item.Price)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>

                <p><strong>Total Amount:</strong> @Model.Delivery.DocTotal</p>
            </div>
        </div>
        <button onclick="CreateGRPO()">Next step => Create GRPO</button>
    }

    @if(Model.GRPO != null)
    {
        <div class="purchase-order-panel">

            <h2>Goods Receipt PO</h2>
            <div>
                <p><strong>Document Number:</strong> @Model.GRPO.DocNum</p>
                <p><strong>Vendor Code:</strong> @Model.GRPO.CardCode</p>
                <p><strong>Vendor Name:</strong> @Model.GRPO.CardName</p>
                <p><strong>Status:</strong> @Model.GRPO.DocStatus</p>
                <p><strong>Document Date:</strong> @Model.GRPO.DocDate</p>
                <p><strong>Due Date:</strong> @Model.GRPO.DocDueDate</p>
            </div>
            <h3>Items</h3>
            <table>
                <thead>
                    <tr>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GRPO.Items)
                    {
                        <tr>
                            <td>@item.ItemCode</td>
                            <td>@item.ItemName</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>@(item.Quantity * item.Price)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <p><strong>Total Amount:</strong> @Model.GRPO.DocTotal</p>
            </div>

        </div>
        <button onclick="CreateInvoice()">Next step => Create AR/Invoice</button>
    }
  
   
  
  

   <script src="/js/CompanyA.js"></script>
</body>
</html>